{% extends "network/layout.html" %} {% block body %}
<div class="container py-2 px-4" id="index">
  <h1 class="text-center">All Post</h1>
  {% if user.is_authenticated %}
  <form class="bg-light" action="{% url 'index' %}" method="post" id="new_post" class="card">
    {% csrf_token %}
    <div class="form-group">
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        name="content"
        rows="3"
        placeholder="Enter Post"
      ></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Post" />
  </form>
  {% endif %}
  <div id="posts" class="  d-flex flex-column">
    
    {% for post in page_posts %}
    {% include "../network/widget/post.widget.html" with post=post user=user %}
    
    {% endfor %}

    {% include "network/widget/pagination.widget.html" with page_posts=page_posts %}
    
  </div>
</div>
{% endblock %}
