html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.body {
  height: 100%;
  /* background-image: url('./images/Seamless\ Abstract\ Monochrome\ Engraving\ Pattern\ Texture\ Stock\ Vector\ \(Royalty\ Free\)\ 576319531\ _\ Shutterstock.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  border-radius: 15px;
}
div#index form {
  /* border: 1px solid gray; */
  padding: 1.5rem;
}
div#index form input[type='submit'] {
  width: 5%;
}
h4 span.text-muted {
  font-size: 0.7rem;
}
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}
a.red-link:hover {
  color: red; /* Custom color on hover */
}
i.fa-heart {
  font-size: 1.3rem;
}
a.red-link + span {
  font-size: 1rem;
  font-weight: 200;
}

#user-data p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
  display: inline-block;
}
#user-data p > span {
  font-size: 1rem;
  font-weight: 200;
}
#follow-count p {
  margin-bottom: 0;
}
form#follow_form {
  display: inline-block;
}

/* form#postEditForm {
  display: none;
} */
.hide {
  display: none;
}
