<div class="bg-light card mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h4>
          <a href="{% url "profile" post.user.id %}">{{post.user.username | title}}</a>
          <span class="text-muted">{{ post.timestamp|date:"F d, Y, H:i a" }}</span>
          
        </h4>
        {% if post.user == user %}
          <button type="button" data-post-id="{{ post.id }}" id="edit_btn" class="btn btn-dark">Edit</button>
          {% endif %}
      </div>
      <div id="cardContent">
        <p id="postContent" class="card-text">{{post.content}}</p>

        <a href="#" class="red-link like_btn" data-post-id="{{post.id}}"><i class="fa-regular fa-heart"></i></a>
        <span class="ml-1">{{post.post_like.count}}</span>
      </div>
      <div id="postEditForm" class="bg-light hide my-3"   class="card">


          <textarea
            class="form-control"
            id="postEditTxtAra"
            name="content"
            rows="3"
            placeholder="Edit Post"
          ></textarea>
        
      </div>

    </div>
  </div>
  